@font-face {
	font-family: 'ChunkFiveRoman';
	src: url('chunkfive-webfont.eot');
	src: url('chunkfive-webfont.eot?#iefix') format('eot'),
		url('chunkfive-webfont.woff') format('woff'),
		url('chunkfive-webfont.ttf') format('truetype'),
		url('chunkfive-webfont.svg#webfontuv9inY7y') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: Georgia, "Times New Roman", serif;
	font-size:.8em;
	margin:0;
	padding:0;
	line-height:1.5em;
	letter-spacing:.05em;
	color:#444;
}

a {
	color:#000;
	text-decoration:none;
	border-bottom:1px solid #ffa200;
}

a:hover {
	color:#ffa200;
}

#header {
	position:relative;
	padding:40px 50px;
	background:url('/immagini/hbkg.png') bottom center repeat-x #dbdbdb;
	text-align:left;
	border-bottom:10px solid #444;
}

#header #maintitle {
	position:absolute;
	top:40px;
	left:140px;
	font:4em ChunkFiveRoman,Helvetica,Arial,sans-serif;
	color:#444;
}

#header #payoff {
	position:absolute;
	top:100px;
	left:140px;
	color:#888;
	font-size:1.2em;
	font-style:italic;
}

.alert {
	width: 70%;
	margin: auto;
	color: #000;
	padding: 3px;
	margin-top: 5px;
}

.alert-success {
	background-color: #0F0;
}

.alert-error {
	background-color: #F00;
}

.clear_spacer {
	display: block;
	width: 100%;
	height: 0px;
	clear: both;
	line-height: 0px;
	font-size: 0px;
	margin: 0;
	padding: 0;
}

#introTabel {
	width: 800px;
	margin: 30px auto;
	border: 0px;
}

#introTabel .column {
	vertical-align: middle;
	float: left;
	margin: 10px;
}

#introTabel .descrizione {
	width: 25%;
}

#introTabel .mappa {
	width: 40%;
}

#introTabel .regioni {
	width: 25%;
}

#italymap {
	border: 0px;
}

#map {
	position: absolute;
	bottom: 0px;
	top: 169px;
	display: block;
	width: 100%;
}

#center {
	max-width: 1280px;
	margin: 0 auto;
}

#infographs {
	margin-top: 30px;
	width: 100%;
}

#infographs div {
	display: inline-block;
	width: 49%;
}

#infographs img {
	max-width: 100%;
}

#lugListTable th, #lugListTable td {
	border: 1px solid black;
	font-size: 12px;
	padding: 5px;
	text-align: center;
}

#lugListTable table, #lugListTable th, #lugListTable td {
	border: 1px solid black;
	font-size: 12px;
}

#lugListTable td.province {
	font-weight: bold;
	text-align: left;
}

#lugListTable td.contactUrl a {
	font-weight: bold;
}

#lugListTable td.contactUrl {
	text-align: right;
}

#lugListTable {
	border-collapse:collapse;
	width:100%;
}

#lugListTable thead, #lugListTable tfoot {
	background-color: #FFA200;
	color: #fff;
}

#lugListTable tr.row_0 td {
	background-color: #eee;
}

#lugListTable tr.row_1 td {
	background-color: #ddd;
}

#lugListTable tr.row_special td {
	border: 0px;
	background-color: #fff;
}

#title {
	color: #888888;
	font: 1.2em ChunkFiveRoman,Helvetica,Arial,sans-serif;
	text-align: center;
}

.menu {
	position:absolute;
	top:55px;
	right:50px;
	font:1.2em ChunkFiveRoman,Helvetica,Arial,sans-serif;
	color:#888;
}

.menu a {
	color:#444;
	font-weight:normal;
	padding:2px 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	text-decoration:none;
	border:0;
}

.menu img {
	display: inline;
}

.menu a:hover {
	background-color:#ffa200;
	color:#fff;
	font-weight:normal;
	text-decoration:none;
	border:0;
}

.menu .social {
	text-align: right;
}

.fromRegionLinks {
	display: block;
	text-align: right;
	margin: 10px 0;
}

.titoloregione {
	display: block;
	text-align: center;
	font:3em ChunkFiveRoman,Helvetica,Arial,sans-serif;
	color: #444;
	margin: 10px 0;
}

#ils_footer {
	background: none repeat scroll 0 0 #292929;
	color: rgba(255, 255, 255, 0.65);
	display: block;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 0.857em;
	line-height: 1.5;
	padding: 35px 5px 30px;
}

#ils_footer .contents {
	clear: both;
	margin-left: auto;
	margin-right: auto;
	width: 960px;
}

#ils_footer .contents .unusedblock {
	display: inline;
	float: left;
	margin: 20px 0;
	padding: 10px;
	position: relative;
	width: 210px;
}

#ils_footer .contents .block {
	border: 1px solid rgba(255, 255, 255, 0.1);
	display: inline;
	float: left;
	margin: 20px 3px;
	padding: 10px;
	position: relative;
	width: 210px;
}

#ils_footer .contents .block h2 {
	border-bottom: 1px solid rgba(255, 255, 255, 0.15);
	border-color: rgba(255, 255, 255, 0.15);
	font-size: 1em;
	margin: 1em 0 0.5em;
	padding-bottom: 3px;
	text-transform: uppercase;
}

#ils_footer .contents img {
	display: inline-block;
}

#ils_footer .contents .block a {
	color: #FFFFFF;
	border: 0;
}

.helpMessage {
	font-style: italic;
}

.spaced-list li {
	margin-top: 20px;
}

.regioni {
	font-size:.8em;
	background-color:#aaa;
	padding:10px 0;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}

.regioni a {
	display:block;
	background-color:#dbdbdb;
	padding:0px 6px;
	border-bottom:1px dotted #aaa;
}

.regioni a:hover {
	color:#fff;
	background-color:#ffa200;
}

.regioni br {
	display:none;
}

#holder {
	height: 480px;
	left: 50%;
	margin: -240px 0 0 -320px;
}

#paper {
	height: 400px;
	width: 400px;
	overflow:hidden;
}

.mapoverlay {
	position: absolute;
	top: 179px;
	width: 20%;
	z-index: 200;
	background-color: rgba(255,255,255,0.7);
}

.trap {
	display: none;
}

.form-text {
	width: 99%;
}

.form-submit {
	width: 100%;
}

.form-select {
	width: 100%;
}

@media only screen and (max-width: 767px) {
	#header {
		padding: 20px;
	}

	#header #maintitle {
		top: 20px;
		left: 90px;
	}

	#header #payoff {
		left: 90px;
		top: 80px;
	}

	.menu {
		position: static;
		margin-top: 16px;
	}

	#introTabel {
		width: 100%;
	}

	#introTabel .descrizione, #introTabel .regioni {
		width: auto;
		float: none;
		text-align: center;
		margin-bottom: 20px;
	}

	#introTabel .mappa {
		display: none;
	}

	#lugListTable {
		margin-bottom: 20px;
	}

	.fromRegionLinks {
		display: none;
	}

	#ils_footer .contents {
		width: auto;
	}

	#ils_footer .contents .block:nth-child(even) {
		width: 90%;
	}

	#ils_footer .contents .block:nth-child(odd) {
		display: none;
	}

	img.radar {
		display: none;
	}
}
