body {
  font-family: Nobile, Helvetica;
  font-size: 12px;
}

img {
  display:block;
  margin: 0 auto;
}

.clear_spacer {
  display: block;
  width: 100%;
  height: 0px;
  clear: both;
  line-height: 0px;
  font-size: 0px;
  margin: 0;
  padding: 0;
}

#introTabel {
  width: 800px;
  margin: auto;
  border: 0px;
}

#introTabel td {
  width: 400px;
  vertical-align: middle;
}

#italymap {
  border: 0px;
}

#center {
  max-width: 1280px;
  margin: 0 auto;
}

#lugListTable th, #lugListTable td {
  border: 1px solid black;
  font-size: 12px;
  padding: 5px;
  text-align: center;
}

#lugListTable table, #lugListTable th, #lugListTable td {
  border: 1px solid black;
  font-size: 12px;
}

#lugListTable td.province {
  font-weight: bold;
  text-align: left;
}

#lugListTable td.contactUrl a {
  font-weight: bold;
  color: #00f;
}

#lugListTable td.contactUrl {
  text-align: right;
}

#lugListTable {
  border-collapse:collapse;
  width:100%;

}

#lugListTable thead, #lugListTable tfoot {
  background-color: #000080;
  color: #fff;
}

#lugListTable tr.row_0 td {
  background-color: #eee;
}

#lugListTable tr.row_1 td {
  background-color: #ddd;
}

#lugListTable tr.row_special td {
  border: 0px;
  background-color: #fff;
}

#title {
  color: #000080;
  text-align: center;
}

.ils_name {
  font-family: 'Open Sans', serif;
  color: white;
}

.ils_name_main {
    font-size: 30pt;
}

.ils_name_sub {
    font-size: 12pt;
}

.menu {
  margin: auto;
  color: #000000;
  background-color: #FFFFFF;
  text-align: center;
}

#backLugMapLink, #csvLink {
  display: block;
  text-align: right;
  color: #00f;
  font-weight: bold;
  text-decoration: none;
  margin: 10px 0;
}

.generalink {
  color: #00f;
  font-weight: bold;
  text-decoration: none;
}

#footer {
  border-top: 1px solid #000;
  padding-top: 10px;
}

.helpMessage {
  font-style: italic;
}
