<Files radar.txt>
	Order deny,allow
	Deny from all
	Allow from 127.0.0.1
	Allow from 213.254.12.146
</Files>

<Files radar_pending.txt>
	Order deny,allow
	Deny from all
	Allow from 127.0.0.1
	Allow from 213.254.12.146
</Files>
