.notes {
  width: 400px;
}

.important {
  font-weight: bold;
  font-size: 15px;
}

.generator {
  float: right;
  width: 45%;
  text-align: center;
}

.code {
  width: 100%;
  height: 200px;
}

.preview {
  width: 100%;
}
